html, body {
  margin: 0;
  padding: 0;
  background-color: #38383C;
  color: #EAEAEA;
}
/* ca:play: block;
}
 */

.m {
  width: 2000px;
}

.proceduralAudio {
  float: left;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 5px;
}
.procAudio {
}

/*///////////////////*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid black;
/*   background-color: #f3f3f3; */
}

li {
  float: left;
}

li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: #EAEAEA;
  background-color: gray;
}
/*//////////////////*/
iframe {
  width: 448px;
  height: 252px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}
.soundcloud {
  float: left;
  width: 30%;
  height :200px;
  
}
.soundcloudMain{
  padding: 10px;
  float: none;
}

.mail {
  padding: 20px;
}
